@model Stories.Models.ViewModels.User.ChangePasswordViewModel
@{
    Layout = null;
}

<section>
    <div id="changepassword" data-url="@Url.Action("ChangePassword","User")">
        <div class="row">
            <label for="OldPassword" class="col-lg-2">Current Password</label>
            @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @type = "password" } })
        </div>
        <div class="row">
            <label for="NewPassword" class="col-lg-2">New Password</label>
            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @type = "password" } })
        </div>
        <div class="row">
            <label for="ConfirmNewPassword" class="col-lg-2">Confirm New Password</label>
            @Html.EditorFor(m => m.ConfirmNewPassword, new { htmlAttributes = new { @type = "password" } })
        </div>
        <div id="updatepassword" class="actions">
            <button class="submit btn btn-default" type="submit">Update</button>
        </div>
    </div>
</section>

