@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Stories.Models.ViewModels.Administration.UsersViewModel

<section>
    <table class="table table-condensed table-hover">
        <thead></thead>
        <tbody>
            @foreach (var summary in Model.Users)
            {
                <tr class="user" data-uid="@summary.UserId">
                    <td>
                        @summary.Username
                        <i class="fa fa-bolt" alt="Moderator" aria-hidden="true"></i>
                    </td>
                    <td>
                        <time datetime="@summary.CreatedDate.ToString("o")" />
                    </td>
                    <td>
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        <a alt="Ban User" href="@Url.Action("BanUser","Administration", new { userId = summary.UserId })">
                            @if (summary.IsBanned) { 
                                <i class="fa fa-ban active" aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>