<h2>What is dotnet signals?</h2>
.NET Signals is a community driven link aggregator for the sharing of knowledge in the .NET community. Our focus is to give the .NET community a place to post ideas and
knowledge as voted by the community while avoiding the clutter found in traditional sources.

<h2>Posts</h2>
<ul>
    <li>Try to keep the title of the post the same as the article except to add information on vague titles,</li>
    <li>Posts should be related to the .Net ecosystem or to information regarding technologies that the .Net community would find helpful or interesting,</li>
    <li>Meta posts and bugs should be created on the github issues page as either discussion or bug,</li>
    <li>Posts seeking help (homework, how do I do X, etc) are not suited for .NET Signals. Consider asking your questions on the .NET subreddit or stackoverflow.</li>
</ul>

<h2>Comments</h2>
<ul>
    <li>Do not spam,</li>
    <li>Avoid Me toos, thanks, "awesome post" comments,</li>
    <li>Be professional, be polite.</li>
 </ul>