@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model;
}

<section class="httperror">
    <div>
        <h1 class="text-center">@Model</h1>
    </div>
</section>
